/*!
 * Transit Control display for the Virtual TTC Academy.
 * Not intended for use anywhere outside the Academy site.
 * (c) Sammi de Guzman, 2016.
 */

* {
	box-sizing: border-box;
}

@font-face {
	font-family: monoOne;
	src: url("monoOne.otf") format("otf"), url("monoOne.woff") format("woff");
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	color: white;
	font-family: monoOne, Inconsolata, Consolas, Monaco, Menlo, 'Courier New', Courier, monospace;
}

body {
	display: flex;
	flex-direction: row;
	background-color: #222;
	overflow-y: hidden;
}

#control {
	height: 100%;
	flex-grow: 1;
}

#sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 250px;
	border-left: 1px solid #444;
	padding: 10px;
}

#time {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#log-off {
	background-color: #222;
	border: 1px solid #444;
	border-radius: 2px;
	font-family: monoOne, Inconsolata, Consolas, Monaco, Menlo, 'Courier New', Courier, monospace;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top: 3px;
	margin-bottom: 3px;
}

#log-off:hover {
	background-color: #444;
}

#log-off:focus {
	outline: none;
}

#Ontario_z18a {
	flex-grow: 1;
	text-align: right;
	font-size: 32px;
	margin-right: 3px;
	margin-bottom: -3px;
}

#error {
	color: #e08080;
	text-align: right;
	margin-bottom: 10px;
	display: none;
}

#error.error {
	display: block;
}

#trains {
	list-style-type: none;
	padding: 0;
	flex-grow: 1;
	margin-top: 0;
}

.train {
	width: 100%;
	border: 1px solid #444;
	border-left: 5px solid #444;
	font-size: 13px;
	padding: 5px 8px;
	margin-bottom: 10px;
	transition:
		margin-left ease 0.2s,
		background-color ease 0.2s
}

.train:hover {
	cursor: pointer;
	background-color: #444;
}

.train.active {
	margin-left: -10px;
	background-color: #444;
}

.train:last-child {
	margin-top: 0;
}

.train div {
	display: flex;
	flex-direction: row;
}

.train .run-number {
	width: 35px;
}

.train .status {
	flex-grow: 1;
	font-style: italic;
}

.train .operator {
	text-align: right;
}

.train .train-type {
	font-style: italic;
	width: 35px;
}

.train .location {
	flex-grow: 1;
}

.train .schedule {
	text-align: right;
	font-style: italic;
	color: #88ccff;
}

.status.ready {
	color: #88ccff;
}

.status.in-transit {
	color: #5d987b;
}

.status.issue {
	color: #e08000;
}

.status.red-alarm {
	color: #e04040;
}

.status.yellow-alarm {
	color: #e0e000;
}

.last-time {
	margin-left: 7px;
	font-size: 80%;
}

.status:not(.ready):not(.in-transit) .last-time {
	display: none;
}

.train.ok {
	border-left-color: #88ccff;
}

.train.issue {
	border-left-color: #e08000;
}

.train.yellow-alarm {
	border-left-color: #e0e000;
}

.train.red-alarm {
	border-left-color: #e04040;
}

.menu {
	position: fixed;
	border: 1px solid #444;
	background-color: #222;
	border-radius: 2px;
	visibility: hidden;
	opacity: 0;
	transition:
		visibility ease 0.2s,
		opacity ease 0.2s;
}

#train-menu {
	right: 260px;
	transition: top ease 0.2s;
}

#station-code.error {
	border-bottom-color: #e04040;
}

.menu.open {
	visibility: visible;
	opacity: 1;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border-bottom: 1px solid #444;
	padding: 5px 10px;
	font-size: 15px;
}

.menu li:not(.inactive):not(.disabled) {
	cursor: pointer;
}

.menu li.disabled {
	color: #444;
	cursor: default;
}

.menu li:last-child {
	border-bottom: none;
}

.menu li:not(.inactive):not(.disabled):hover {
	background-color: #444;
}

.menu input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #444;
	font-family: monoOne, Inconsolata, Consolas, Monaco, Menlo, 'Courier New', Courier, monospace;
	font-size: 15px;
	color: white;
	text-align: center;
}

.menu input:focus {
	outline: none;
}

.awesomplete {
	display: inline;
}

.awesomplete ul {
	position: absolute;
	z-index: 100;
	right: 10px;
	width: 250px;
	border: 1px solid #444;
	background-color: #222;
	border-radius: 2px;
}

.awesomplete li:hover {
	background-color: #444;
}

.station-name {
	font-size: 80%;
	font-style: italic;
	padding-left: 7px;
}
